<!DOCTYPE html>
<html>
    <head>
        <title>NoM: Model</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </head>

    <body>
        {% include "header.html" %}

        <main>
            <p>
                <ul>
                    <li>{{ model_values[1] }}</li>
                    <li>{{ model_values[3] }}</li>
                    <li>{{ model_values[5] }}</li>
                    <li>{{ model_values[4] }}</li>
                </ul>
                <a href="{{ model_values[2] }}" download="{{ model_values[1] + '.joblib' }}">Скачать модель</a>
            </p>
        </main>
    </body>
</html>