<form>
    {% include "analysis/plots/standard plot params/request X param.html" %}
    {% include "analysis/plots/standard plot params/request Y param.html" %}
    {% include "analysis/plots/standard plot params/request hue param.html" %}

    <p>
        <label for="aggfunc_select">Агрегирующая функция</label>
        <select name="estimator" id="aggfunc_select">
            <option value="size">Количество</option>
            <option value="mean">Среднее</option>
            <option value="median">Медиана</option>
            <option value="sum">Сумма</option>
        </select>
    </p>

    <p>
        <button hx-post="/analysis/plots/{{plot_type}}" hx-target="#plot-place">Построить график</button>
    </p>

    <p id="plot-place"></p>
</form>