<form>
    {% include "analysis/plots/standard plot params/request X param.html" %}
    {% include "analysis/plots/standard plot params/request Y param.html" %}
    {% include "analysis/plots/standard plot params/request hue param.html" %}

    <p>
        <label>Выберите значение столбцов</label>
        <select name="estimator" id="aggfunc_select">
            <option value="size">количество</option>
            <option value="mean">среднее</option>
            <option value="median">медиана</option>
            <option value="sum">сумма</option>

        </select>
    </p>

    <p>
        <button hx-post="/analysis/plots/{{plot_type}}" hx-target="#plot-place">Построить график</button>
    </p>

    <p id="plot-place"></p>
</form>