<main>
    <form>
        <p>
            <button id="linear" hx-post="/analysis/plots" hx-target="#args">Линейная диаграмма</button>
            <button id="bar" hx-post="/analysis/plots" hx-target="#args">Столбчатая диаграмма</button>
            <button id="scatter" hx-post="/analysis/plots" hx-target="#args">Диаграмма рассеяния</button>
        </p>

        <p>
            <button id="hist" hx-post="/analysis/plots" hx-target="#args">Гистограмма</button>
            <button id="box" hx-post="/analysis/plots" hx-target="#args">Диаграмма размаха</button>
            <button id="heat" hx-post="/analysis/plots" hx-target="#args">Тепловая диаграмма</button>
        </p>
    </form>

    <div id="args"></div>

    {{ df_html | safe }}
</main>