<form>
    {% include "analysis/plots/standard plot params/request X param.html" %}
    {% include "analysis/plots/standard plot params/request Y param.html" %}
    {% include "analysis/plots/standard plot params/request hue param.html" %}

    <p>
        <label for="size_select">Группировка по размеру (необязательно)</label>
        <select name="size" id="size_select">
            <option value=""></option>
            {% include "cols_options.html" %}
        </select>
    </p>

    {% include "analysis/plots/standard plot params/final button.html" %}
</form>