<!DOCTYPE html>
<html>
    <head>
        <title>NoM: Edit Data</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        {% include "header.html" %}

        <main>
            <form>
                <p>
                    <button id="add_col" hx-post="/edit" hx-target="#args">Добавить столбец</button>
                    <button id="del_col" hx-post="/edit" hx-target="#args">Удалить столбец</button>
                    <button id="upd_col" hx-post="/edit" hx-target="#args">Изменить данные столбца</button>
                </p>

                <p>
                    <button id="na_work" hx-post="/edit" hx-target="#args">Работа с пропусками (NA)</button>
                    <button id="cut" hx-post="/edit" hx-target="#args">Обрезать данные</button>
                </p>

                <p id="args"></p>
            </form>

            <p>{{ df_html | safe }}</p>
        </main>
    </body>
</html>