<form>
    <p>
        <label for="uc_name">Выберите столбец для изменения</label>
        <select id="uc_name" name="col" required>
            {% include "cols_options.html" %}
        </select>
    </p>

    <p>
        <label for="elwisefunc_name">Операция</label>
        <select id="elwisefunc_name" name="elwisefunc_name" required>
            <option value="round">Стандартное округление</option>
            <option value="ceil">Округление вверх</option>
            <option value="floor">Округление вниз</option>
            <option value="abs">Модуль</option>
            <option value="sqrt">Квадратный корень</option>
            <option value="cos">Косинус</option>
            <option value="sin">Синус</option>
        </select>
    </p>

    <p>
        <button hx-post="/edit/{{action_type}}" hx-target="#message">Изменить столбец</button>
    </p>

    <p id="message"></p>
</form>