<!DOCTYPE html>
<html>
    <head>
        <title>NoM: Анализ Датасета</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        {% include "header.html" %}

        <main>
            <form>
                <p>
                    <button id="groupby/groupby" hx-post="/analysis" hx-target="#content">Сгруппировать данные</button>
                    <button id="plots/plots" hx-post="/analysis" hx-target="#content">Создать график</button>
                    <button id="pivottable/pivottable" hx-post="/analysis" hx-target="#content">Создать сводную таблицу</button>
                </p>

                <br>
                <p id="content"></p>
            </form>

            {{ df_html | safe }}
        </main>
    </body>
</html>