<form>
    {% include "analysis/standard plot params/request X param.html" %}
    {% include "analysis/standard plot params/request Y param.html" %}
    {% include "analysis/standard plot params/request hue param.html" %}

    <p>
        <label for="size_select">Выберите столбец для группировки по размеру (необязательно)</label>
        <select name="size" id="size_select">
            <option value="">Выберите колонку</option>
            {% for col_name in cols %}
                <option value="{{col_name}}">{{col_name}}</option>
            {% endfor %}
        </select>
    </p>

    <p>
        <button hx-post="/analysis/{{plot_type}}" hx-target="#plot-place">Построить график</button>
    </p>

    <p id="plot-place"></p>
</form>