<!DOCTYPE html>
<html>
    <head>
        <title>NoM: Обратная связь</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        {% include "header.html" %}

        <main>
            <form>
                <p>
                    <label for="mail">Почта для обратной связи</label>
                    <input type="email" id="mail" name="mail" placeholder="example@mail.com">
                </p>

                <p>
                    <label for="feedback">Обратная связь</label>
                    <textarea id="feedback" name="feedback" placeholder="Ваша обратная связь" rows="10"></textarea>
                </p>

                <p>
                    <button hx-post="/feedback">Отправить</button>
                </p>
            </form>
        </main>
    </body>
</html>