<!DOCTYPE html>
<html>
    <head>
        <title>NoM: Upload Data</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </head>

    <body>
        {% include "header.html" %}

        <main>
            <form enctype="multipart/form-data">
                <p>
                    <label for="file">Загрузить данные <br>(формат .csv)<br></label>
                    <input type="file" name="file" id="file" required hx-post="/upload" hx-target="#error-message" hx-trigger="change">
                </p>
                <p id="error-message"></p>
            </form>
        </main>
    </body>
</html>