<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>NoM: Registration</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </head>

    <body>
        <form hx-post="/registration" hx-target="#error-message">
            <legend>Введите данные для регистрации</legend>
            
            <p>
                <label for="username">Логин</label>
                <input type="text" id="username" name="username" required>
            </p>

            <p>
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required>
            </p>

            <p>
                <button type="submit">Зарегистрироваться</button>
            </p>

            <p id="error-message"></p>
        </form>

        <p>
            <a href="/auth">Войти в уже существующий аккаунт</a>
        </p>
    </body>
</html>