<main>
    <form>
        <p>
            <label for="groupers">Группировать по</label>
            <select id="groupers" name="group_col">
                {% include "cols_options.html" %}
            </select>
        </p>

        <p>
            <label for="targets">Взять</label>
            <select id="targets" name="target_col">
                {% include "cols_options.html" %}
            </select>
        </p>

        <p>
            <label for="aggfuncs">Найти</label>
            <select id="aggfuncs" name="aggfunc">
                <option value="mean">Среднее</option>
                <option value="median">Медиана</option>
                <option value="max">Максимальное</option>
                <option value="min">Минимальное</option>
                <option value="sum">Сумма</option>
                <option value="count">Количество</option>
                <option value="nunique">Количество уникальных</option>
            </select>
        </p>

        <p>
            <button type="submit" hx-post="/analysis/groupby" hx-target="#message">Сгруппировать</button>
        </p>

        <p id="message"></p>
    </form>

    {{ df_html | safe }}
</main>